body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: rgb(255, 177, 61);
    height: 150px;
    padding: 0px;
    margin: 0px 0px 3px 0px;
}

.navContent {
    display: flex;
    justify-content: space-between;
}

.navContent img {
    margin-left: 100px;
    margin-top: 30px;
}

#navLinks {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 120px;
    margin-top: 40px;
}

#navLinks a {
    text-decoration: none;
    color: black;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
}

#firstImage {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
}

#firstImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#firstImage p {
    background-color: white;
    position: absolute;
    font-size: 40px;
    font-weight: 900;
    padding: 10px 20px 10px 20px;
    margin-bottom: 120px;
}

#segment1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#segment1 div {
    width: 1200px;
}

#segment1 h2 {
    font-size: 30px;
    font-weight: 900;
    padding: 30px 0px 0px 0px;
}

#segment1 p {
    font-size: 24px;
}

#segment1Images {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 300px;
    padding-top: 30px;
}

#segment1Images img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

#segment1ImagesText {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

#segment1ImagesText p {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 30px;
    font-weight: 600;
}

#segment2 {
    width: 100%;
    background-color: rgb(221, 227, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#segment2Text {
    width: 1200px;
}

#segment2Text h2 {
    width: 1200px;
    font-size: 30px;
    font-weight: 900;
    padding-top: 20px;
}

#segment2 p {
    font-size: 24px;
}

#segment2Images {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 300px;
    padding-top: 30px;
}

#segment2Images img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

#segment2Images p {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 14px 0px;
    font-weight: 600;
}

.item {
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#segment3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

#segment3Text {
    width: 1200px;
}

#segment3Text h2 {
    width: 1200px;
    font-size: 30px;
    font-weight: 900;
    padding-top: 20px;
}

#segment3 p {
    font-size: 24px;
}

#segment3Images {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding-top: 30px;
}

#segment3Images div {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#segment3Images img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border: 7px solid rgb(221, 227, 255);
}

#segment3Images p {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 14px 0px;
    font-weight: 600;
}

#footer {
    background-color: rgb(255, 177, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
}

#footerLinks {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px 10px;
}

#footerLinks a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-weight: 500;
}

/*start of the recipe page styles*/

#recipeSegment1 {
    background-color: rgb(221, 227, 255);
    width: 100%;
    display: flex;
    justify-content: center;
}

#recipeSegment1TextContainer {
    /*background-color: rgb(78, 110, 255);*/
    width: 1200px;
    padding: 40px 0px 40px 0px;
    display: flex;
    align-items: end;
}

#recipeSegment1TextContainer div {
    flex-direction: column;
}

#recipeSegment1TextContainer div:last-of-type {
    padding-bottom: 25px;
}

#recipeSegment1TextContainer h4 {
    font-weight: 900;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

#recipeSegment1TextContainer p {
    font-size: 20px;
    margin: 0px;
    padding: 0px 165px 0px 0px;
}

.boldText {
    font-weight: 900;
}

#recipeSegment2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#recipeSegment2 > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#recipeSegment2 h2 {
    font-size: 40px;
    padding: 100px 0px 0px 0px;
    margin: 0px;
}

#recipeSegment2Review p {
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.starColor {
    color: rgba(194, 0, 0, 0.758);
    font-size: 24px;
}

#recipeSegment2SaveRecipe {
    display: flex;
    align-items: center;
    padding: 0px 0px 50px 0px;
}

#recipeSegment2SaveRecipe button:first-of-type {
    background-color: rgba(194, 0, 0, 0.758);
    display: inline-block;
    color: white;
    border: 0px;
    border-radius: 25%;
    height: 30px;
    margin-right: 20px;
}

#recipeSegment2SaveRecipe button:first-of-type:hover {
    background-color: rgba(167, 0, 0, 0.758);
}

#recipeSegment2SaveRecipe button:last-of-type {
    font-size: 30px;
    border: 1px solid gray;
    border-radius: 100%;
}

#recipeSegment2SaveRecipe button:last-of-type:hover {
    background-color: rgb(200, 200, 200);
}

#recipeSegment2Description {
    width: 1200px;
    display: flex;
    justify-content: center;
    background-color: rgb(221, 227, 255);
}

#recipeSegment2Description div {
    width: 800px;
    display: flex;
    justify-content: center;
}

#recipeSegment2Description h4 {
    font-size: 28px;
    word-spacing: -2px;
    color: rgb(60, 60, 60);
    text-align: center;
}

#recipeSegment3 {
    display: flex;
    justify-content: center;
}

#instructionsContainer {
    display: flex;
    padding-top: 50px;
    padding-bottom: 150px;
}

#recipeSegment3 div {
    width: 1200px;
}

#recipeSegment3 h3 {
    font-size: 30px;
    font-weight: 900;
    margin: 0px 0px 0px 0px;
}

#recipeSegment3 ul {
    padding: 0px 0px 0px 20px;
}

#recipeSegment3 li {
    font-size: 16px;
}

#recipeSegment3 ul p {
    padding: 0px 0px 0px 0px;
}

ol {
    padding: 0px 0px 0px 20px;
}

ol li {
    margin-bottom: 20px;
}

ol p {
    padding: 0px;
    margin: 0px;
    font-weight: 700;
}